<% provide(:title, 'Home') %>
<div class="center jumbotron">
  	<% if user_signed_in? %> 
  		<h1><strong><font size="6">Welcome back <%= current_user.name %></font></strong></h1>
  		<a href="user_movies"><h2>You have <strong><%= @todomoviescount %> movie(s)</strong> to watch.</h2></a>
  		<a href="movies"><h2>You have <strong>watched <%= @watchedmovies %> movie(s).</strong> Add more to your library</h2></a>  		
  		<% else %>  			
  		<h1>Welcome to the application</h1> 
    	<h2>If you don't have an account, click on Sign Up Now!</h2>
    	<%= link_to "Sign up now!", sign_up_path, class: "btn btn-lg btn-primary" %>
    <% end %>
</div>
