<% provide(:title, 'Movies') %>
<div class="center jumbotron">
  <h1>Here should be the title of the movie</h1>

  <h2>
  	Here should be the plot and other information of the movie
  </h2>

  <%= link_to "Add to User library", '#', class: "btn btn-lg btn-primary" %>
</div>
