<% provide(:title, 'Movies') %>
<p id="notice"> <% notice %></p>

<div class="center jumbotron">
  <h1>Popular Movies</h1>

  <tbody>
    <% @movies.each do |movie| %>     
        <h2><%= link_to movie.title, movie %></h2>    
    <% end %>
  </tbody>
</div>