<% provide(:title, 'Search') %>

<% unless @movies.blank? && @moviesAPI.blank? %>
	<% @movies.each do |movie| %>
		<h1><%= link_to movie.title, movie %></h1>
	<% end %>
	<h1>API CALL</h1>
	<% @moviesAPI.each do |movie| %>
		<h1><%= link_to movie['Title'], apicreate_path(imdbid: movie['imdbID']) %></h1>
	<% end %>
<% else %>
	<h2> There are no Movies that match your criteria</h2>
	<div class="center">
		<%= link_to "Your movie exist? Create it here and expand the database", 'movies/new', class: "btn btn-lg btn-primary" %>
	</div>
	<% end %>
