
<div class="center jumbotron">
<p>
  <img src="<%= @movie.poster %>" style="width: 200px">
</p>
<p>
  <strong>Title:</strong><br>
  <%= @movie.title %>
</p>

<p>
  <strong>Year:</strong><br>
  <%= @movie.year %>
</p>

<p>
  <strong>Plot:</strong><br>
  <%= @movie.plot %>
</p>
<p>
  <strong>Director:</strong><br>
  <%= @movie.director %>
</p>
<p>
  <strong>Language:</strong><br>
  <%= @movie.language %>
</p>
<p>
  <strong>Metascore:</strong><br>
  <%= @movie.metascore %>
</p>
<p>
  <strong>Release Date:</strong><br>
  <%= @movie.release_date %>
</p>
</div>


<div class="center">
  <div id="button-add">
    <% if @addedmovie.blank? %>
    <%= render(partial: 'user_movies/added_movie_form', locals: { movie_id: @movie.id})%>
    <% else %>
    <div class="Comments">
      <%= render partial: "user_movies/comments" %>
    </div>
    <br>
    <%= render(partial: 'user_movies/rating_form',  locals: { usermovie: @addedmovie})%>
    <br>
    <%= render(partial: 'user_movies/edit',  locals: { usermovie: @addedmovie}) %>
    <br>
    <%= render(partial: 'user_movies/delete',  locals: { usermovie: @addedmovie, movie_id: @movie_id}) %>
    <br>

    <% end %>
  </div>
  <br><br>
  <%= link_to 'Edit', edit_movie_path(@movie) %> |
  <%= link_to 'Back', movies_path %>
</div>
