<% provide(:title, 'Friends') %>
<p id="notice"><%= notice %></p>



<strong>Search for friends</strong>
<%= form_tag(users_path, method: :get, id: "search-form") do %>
  <%= text_field_tag "searchterm", "", placeholder: "Search Friends..." %>
  <%= submit_tag "Search" %>
<% end %>

<% if @users.present? %>
  <table>
    <thead>
      <th>Search Results:</th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if !params[:searchterm].blank? && !@users.present? %>
  <p>There are no users named <%= params[:searchterm] %>.</p>
<% end %>
<h1>Friends</h1>
<% @friends.each do |friend| %>
  <li> <%= link_to friend.name, friend %></li>
<% end %>
<br>
<%= link_to 'Invite Your Friends', '#' %>
