<% provide(:title, @user.name) %>
<h1>User </h1>
User: <%= @user.name %>,
<br>
Email: <%= @user.email %>
<br><br>
<% if user_signed_in? %>
<div id="relationship">
	<% if @friendship.nil? %>     
	<%= render(partial: 'friendships/add', locals: {friend_id: @user.id}) %>
	<% else %>
  <%= render(partial: 'friend_movies', locals: {movies: @user.movies.limit(20)})%>
	<%= render(partial: 'friendships/delete', locals: {friend_id: @user.id}) %>
	<% end %>
</div>
<% end %>

