<% if usermovie.comments.blank? %>
	<%= form_for usermovie, method: :patch, remote: true do |f| %>
		<%= f.submit "Add Comment", class: "btn btn-lg btn-primary" %>
	<% end %>
<% else %>
<h3>Your Comment<%= usermovie.comments %></h3>
<% end %>
