<%= form_for usermovie, method: :patch, remote: true do |f| %>

  <div class="rating" align="center">
    <% if usermovie.rating.blank? %>
      <%= "Rate: " %>
      <%= f.number_field :rating, in: 1.0..5.0 %>
    <% else %>
      <h3>Your Rating: <%= usermovie.rating %></h3>
    <% end %>
  </div>
  <br>
  <div class="comments" align="center">
    <%= "Comment: " %>
    <% if usermovie.comments.blank? %>
      <%= f.text_field :comments %>
    <% else %>
      <%= "Comment: #{usermovie.comments}" %>
    <% end %>
  </div>
  <br>
  <div class="watched" align="center">    
    Watched: <%= f.check_box :watched %>
  </div>
<br>
  <%= f.submit "Save", class: "btn btn-lg btn-primary" %>
<% end %>
