<% if usermovie.watched.blank? %>
<%= form_for usermovie, method: :patch, remote: true do |f| %>
		<%= f.text_field :watched %>
		<%= f.submit "Watched?", class: "btn btn-lg btn-primary" %>
	<% end %>
<% else %>
<h3>Watched? <%= usermovie.watched %></h3>
<% end %>
