<% provide(:title, 'My Movies') %>
<div class="center jumbotron">
<% if @watchedmovies.empty? && @todomovies.empty? %>
<h2><strong><a href="movies">You have no Movies. Add some to your collection</a></strong></h2>
<% else %>
<tbody>
  <h1>My Movies</h1>
  <table class="movies">
    <thead>
      <tr>
        <th>Watched</th>
        <th>Title</th>
      </tr>
      </thead>
      <tbody>
        <% unless @watchedmovies.empty?  %>
          <% @watchedmovies.each do |watchedmovie| %>
          <tr>
            <td>
             <font color="green"><strong style="font-size: 25px;">Yes</strong></font>            
           </td>
           <td>
            <div style="text-align: center;">
              <%= link_to watchedmovie.movie.title, movie_path(watchedmovie.movie) %>
            </div>
        </td>
      </tr>
        <% end %>
      <% end %>
      <% unless @todomovies.empty? %>
      <% @todomovies.each do |todomovie| %>
        <tr>
          <td>
            <font color="red"><strong style="font-size: 25px;">No</strong></font>             
          </td>
          <td>
            <div style="text-align: center;">
              <%= link_to todomovie.movie.title, movie_path(todomovie.movie) %>
            </div>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
