<footer class="footer">
  <small>
    The Movie Organizer</a>
    by Ewerton Ruiz</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help",   help_path %></li>     
    </ul>
  </nav>
</footer>