<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Movie Organizer", root_path, id: "logo" %>
    <nav>
      <div class="searchboxheader">
        <%= form_tag '/search', method: :get do  %>
          <%= text_field_tag "searchterm", "", placeholder: "Search movies..." %>
        <% end %>
      </div>
      <div style="float: right">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><%= link_to "Popular Movies", movies_path %></li>
        <li><%= link_to "My Movies", user_movies_path %></li>
        <li><%= link_to "Friends",  users_path %></li>
        <li><%= link_to "Settings", edit_path %></li>
        <li><%= link_to "Log out",  log_out_path %></li>
      <% else %>
        <li><%= link_to "Movies", movies_path %></li>
        <li><%= link_to "Log in",  sign_in_path %></li>
        <li><%= link_to "Sign Up",  sign_up_path %></li>
         <% end %>
      </ul>
    </div>
    </nav>
  </div>
</header>
